* {
  box-sizing: border-box;
}

.dropdown {
  width: 100%;

  .stretch-type :nth-child(2) {
    font-size: 12px;
  }
}

.tool-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;

  .input {
    width: 90px;
  }
}

.alert {
  color: red;
}

:host {
  width: 100%;
}
